.header{
	width: 100%;
    height: 50px;
}

.logo{
	width: 20%;
    height: 50px;
	float : left;
}

.logo > img{
	height: 100%;
    width: auto;
	float: left;
}

.logo > h1{
	float: left;
    margin: 0;
}

.topmenu {
	width : 80%;
	float : left;
}


.topmenu > ul {
	margin : 0;
} 

.topmenu > ul >li {
	list-style: none;
	padding : 0 20px 0 0;
	margin : 0;
	float : left;
	display : block;
	
} 

.topmenu > ul >li > a{
	text-decoration:none;
	line-height : 50px;
}

.content{
	float: right !important;
    padding-right: 30px !important;
}

.banner > img{
	width : 100%;
}

.introduce{
	border-bottom: 5px solid grey;
}

.name > p {
	text-align:center;
}